/**
* This is going to be the basic CSS outline file that running the create react app typescript command.
* You can make CSS modifications as you'd normally do with CSS in this file.
* 
* Specifically this file targets the index "component". This isn't really the "global" css file.
**/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
